.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 80px;
    z-index: 1;

    border-bottom: $border;
    background-color: $bgPrimaryColor;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    &__conteiner {
        display: flex;
    }
}
