.hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 0;
    background-color: $bgImgColor;
    background-image: linear-gradient(to right, $bgLinearGradient, $bgLinearGradient),
        url(../images/bg-img.jpg);
    background-size: 1600px;
    background-position: cover;
    background-repeat: no-repeat;
    text-align: center;

    &__title {
        width: 696px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        color: $whiteTextColor;
    
        font-weight: 900;
        font-size: 44px;
        line-height: 1.5;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }
}