.section {
    padding: 94px 0;

    &__title {
        margin-bottom: 50px;
        color: $secondaryTextColor;

        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
    }

    &--padding {
        padding-top: 0;
    }

    &--background {
        background-color: $bgSecondaryColor;
    }
}